body{
    background-color: rgb(14, 181, 211);
}

#calculadora{
    height: 435px;
    width: 300px;
    background-color: black;
    border: 1px solid #000000;
    border-radius: 5px;

}

#calculadora form{
    height: 100%;
    width: 80%;
    background-color: black;
    margin-left: 25px;
}

#calculadora input[type=textfield]{
    width: 100%;
    height: 25%;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}

#calculadora input[type=button], input[type=reset]{
   width: 21%;
   cursor: pointer;
   font-family:'Roboto', sans-serif;
   font-weight: bold;
   font-size: 26px;
   color: black;
   padding: 18px;
   margin: 3px;
   border: 0;
   border-radius: 100%;
}

#calculadora .orange{
    background-color: rgb(218, 84, 7);
    color: white;
}

#calculadora .gray{
    background-color: gray;
    color: white;
}

.cajon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.fot{
    font-size: bold;
    margin-top: 5px;
}